footer.o-footer.-padMdTopBottom
  .m-footerContent.-ContainerUniversal
   .m-footer__logo
    a(href=linksUrl[1]): img.-bColor(src=linksUrl[1]+logoColor[1], alt="")
   .m-footer__list
    .m-footer__column
     h4.-strong Compañia
     a(href=linksUrl[1]+"servicios/"+linksInternos[2]): p.-linkNormal #{titles[0]}
     a(href=linksUrl[1]): p.-linkNormal #{titles[5]}
    .m-footer__column
     h4.-strong Servicios
     a(href=linksUrl[1]+"servicios/"+linksInternos[0]): p.-linkNormal #{titles[2]}
     a(href=linksUrl[1]+"servicios/"+linksInternos[1]): p.-linkNormal #{titles[3]}
     a(href=linksUrl[1]+"servicios/"+linksInternos[3]): p.-linkNormal #{titles[4]}
   .m-footer__end
    .m-footer__details
     p © monlogo
     a(href=linksUrl[1]): p.-linkNormal Mapa del sitio
     a(href=linksUrl[1])
      .a-facebook
      p.-linkNormal español
    .m-footer__media
     a.a-socialMdeia(href=linksUrl[1]): .a-facebook
     a.a-socialMdeia(href=linksExternos[0]): .a-instagram
     a.a-socialMdeia(href=linksExternos[1]): .a-whatsapp

// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js", integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n", crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js", integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", crossorigin="anonymous")
script(src=linksUrl[1]+"assets/js/index.js")