nav.o-nav.sticky
 .o-navFixedContainer
  .o-nav__content
   .a-brand
    a(href=linksUrl[1]): img.a-brand__Img.-bColor.-d-none(src=linksUrl[1]+logoColor[1], alt="")
    a(href=linksUrl[1]): img.a-brand__Img.-bWhite(src=linksUrl[1]+logoColor[0], alt="")

   .a-burguer#burger
    img.a-burguer__menu.-bColor.-d-none(src=linksUrl[1]+"assets/img/iconos/menu_blue.svg", alt="")
    img.a-burguer__menu.-bWhite(src=linksUrl[1]+"assets/img/iconos/menu_white.svg", alt="")

   .m-itemContent
    .a-burguerOut#burgerOut
     img.a-burguerOut__menu(src=linksUrl[1]+"assets/img/iconos/cancel.svg", alt="")
    .a-brandMobile
     a(href=linksUrl[1]): img.a-brandMobile__Img(src=linksUrl[1]+logoColor[1], alt="")
    ul.m-itemContent__list
     li: a.a-itemLink(href=linksUrl[1]+linksInternos[2]) #{titles[0]}
     li: a.a-itemLink(href=linksUrl[1]) #{titles[1]}
    .m-itemContent__media
     a.a-socialMdeia(href=linksUrl[1]): .a-facebook
     a.a-socialMdeia(href=linksExternos[0]): .a-instagram
     a.a-socialMdeia(href=linksExternos[1]): .a-whatsapp
    .a-button.a-noMargin
     a.-outlinePrimary(href=linksUrl[1]) #{titles[5]}

   .m-CallToAction
    .a-button
     a.a-btnJS.-outlineLightin(href=linksUrl[1]) #{titles[5]}
    a.a-iconFund(href=linksUrl[1]): img.a-iconFund__img(src=linksUrl[1]+"assets/img/iconos/mail.png", alt="")
